@font-face {
	font-family: 'cheonlima';
	src: url('file:///android_asset/font/cheonlima.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
p, h2, h3 {
    margin: 0;
}

html {
    background-color: #F2F2F2;
}

h3 {
    font-weight: 400;
    font-size: 14px;
}

body {
    margin: 0;
    padding: 10px 15px;
    line-height: 28px;
    text-align:justify;
    word-break: break-all;
    overflow:auto;
    border-radius: 8px;
    background-color: white;
    color: #666;
    font-family: 'cheonlima';
    font-size: 12.5px;
}

.title {
    padding: 5px 0;
    color: #333;
    font-size: 14px;
    line-height: 35px;
}

.sub-title {
    color: #333;
    font-size: 13px;
    font-weight: 600;
    line-height: 30px;
}

p {
    line-height: 22px;
}

img {
    margin: 10px 0;
    border: 1px solid #eee;
    border-radius: 7px;
}

center.first-img img {
    margin-top: 0;
}

center.last-img img {
    margin-bottom: 0;
}

b {
    margin-right: 5px
}

// faq-item
.faq-item {
    border-bottom: 1px dashed #ccc;
    padding: 5px 0;
}

.faq-item.first-child {
    padding-top: 0;
}

.faq-item.last-child {
    border-bottom: 0;
}