<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0"
    android:hardwareAccelerated="true"
    android:compileSdkVersion="28"
    android:compileSdkVersionCodename="9"
    package="com.jeil.emarket"
    platformBuildVersionCode="28"
    platformBuildVersionName="9">
    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="28"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <application
        android:theme="@style/Theme.Emarket"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:name="com.jeil.emarket.MainBaseApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:fullBackupContent="true"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <activity
            android:name="com.jeil.emarket.activities.point.PointActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.review.ReviewActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.review.ReviewEditActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.point.PointEditActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.account.AddressActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.account.OrderActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.account.ShippingActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.vendor.VendorsActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.account.OrderDetailActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.product.ShopActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.product.ProductActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.vendor.VendorActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.account.RecentActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:theme="@style/Theme.Emarket.Translucent"
            android:label="@string/app_name"
            android:name="com.jeil.emarket.activities.intro.SplashBaseActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.jeil.emarket.activities.intro.MainActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.account.RefundProductsActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.account.RefundRequestsActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.account.RefundDetailActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.product.WishlistActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.order.CartActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.order.CheckoutActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:theme="@style/Theme.Emarket.Surface"
            android:name="com.jeil.emarket.activities.order.PaymentActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.order.SuccessActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.intro.HelpActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.intro.HelpDetailActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.intro.SettingActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.account.ConnectionInfoActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.intro.VendorSettingActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.account.ProfileActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.auth.LoginActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:theme="@style/Theme.Emarket.Surface"
            android:name="com.jeil.emarket.activities.auth.RegisterActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.auth.VendorLoginActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.auth.PassCodeActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.intro.SetupActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.product.SearchActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.account.ShippingDetailActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.seller.VendorOrderDetailActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.seller.VendorProductEditActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.seller.VendorProductActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.jeil.emarket.activities.seller.product.ProductSaleActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.seller.product.ProductSaleCheckActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.seller.product.FBTActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.seller.product.FBTEditActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.seller.product.ProductChooseSaleActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.seller.VendorStaffActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.seller.VendorFinanceActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.seller.MainActivityForVendor"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.seller.AnalyticsActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.seller.refund.RefundRequestsActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.seller.VendorShippingZoneActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.seller.product.ShippingZoneEditActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.seller.refund.RefundDetailActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.seller.ReplyActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.seller.VendorOrderEditActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.ticket.list.TicketUserListActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.ticket.add.TicketVendorCreateActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.ticket.add.TicketMarketCreateActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.ticket.chat.TicketUserChatActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.ticket.chat.TicketCustomerChatActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.ticket.chat.TicketMarketChatActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.seller.VendorShippingMethodActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>
        <activity
            android:name="com.jeil.emarket.activities.product.FBTCollectionActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"/>

        <service
            android:name="com.jeil.emarket.services.BackgroundService"
            android:enabled="true"/>
        <service
            android:name="com.jeil.emarket.services.MessageService"
            android:enabled="true"/>

        <provider
            android:name="com.jeil.emarket.providers.GenericFileProvider"
            android:exported="false"
            android:authorities="com.jeil.emarket.provider.file"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <service
            android:name="com.jeil.material.JeilService"
            android:process=":jeil"/>
        <activity
            android:name="com.jeil.material.stub.ActivityStub.StandardStub"
            android:launchMode="standard"/>
        <activity
            android:name="com.jeil.material.stub.ActivityStub.SingleInstanceStub1"
            android:launchMode="singleInstance"/>
        <activity
            android:name="com.jeil.material.stub.ActivityStub.SingleInstanceStub2"
            android:launchMode="singleInstance"/>
        <activity
            android:name="com.jeil.material.stub.ActivityStub.SingleInstanceStub3"
            android:launchMode="singleInstance"/>
        <activity
            android:name="com.jeil.material.stub.ActivityStub.SingleInstanceStub4"
            android:launchMode="singleInstance"/>
        <activity
            android:name="com.jeil.material.stub.ActivityStub.SingleInstanceStub5"
            android:launchMode="singleInstance"/>
        <activity
            android:name="com.jeil.material.stub.ActivityStub.SingleInstanceStub6"
            android:launchMode="singleInstance"/>
        <activity
            android:name="com.jeil.material.stub.ActivityStub.SingleInstanceStub7"
            android:launchMode="singleInstance"/>
        <activity
            android:name="com.jeil.material.stub.ActivityStub.SingleInstanceStub8"
            android:launchMode="singleInstance"/>
        <activity
            android:name="com.jeil.material.stub.ActivityStub.SingleTaskStub1"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.jeil.material.stub.ActivityStub.SingleTaskStub2"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.jeil.material.stub.ActivityStub.SingleTaskStub3"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.jeil.material.stub.ActivityStub.SingleTaskStub4"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.jeil.material.stub.ActivityStub.SingleTaskStub5"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.jeil.material.stub.ActivityStub.SingleTaskStub6"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.jeil.material.stub.ActivityStub.SingleTaskStub7"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.jeil.material.stub.ActivityStub.SingleTaskStub8"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.jeil.material.stub.ActivityStub.SingleTopStub1"
            android:launchMode="singleTop"/>
        <activity
            android:name="com.jeil.material.stub.ActivityStub.SingleTopStub2"
            android:launchMode="singleTop"/>
        <activity
            android:name="com.jeil.material.stub.ActivityStub.SingleTopStub3"
            android:launchMode="singleTop"/>
        <activity
            android:name="com.jeil.material.stub.ActivityStub.SingleTopStub4"
            android:launchMode="singleTop"/>
        <activity
            android:name="com.jeil.material.stub.ActivityStub.SingleTopStub5"
            android:launchMode="singleTop"/>
        <activity
            android:name="com.jeil.material.stub.ActivityStub.SingleTopStub6"
            android:launchMode="singleTop"/>
        <activity
            android:name="com.jeil.material.stub.ActivityStub.SingleTopStub7"
            android:launchMode="singleTop"/>
        <activity
            android:name="com.jeil.material.stub.ActivityStub.SingleTopStub8"
            android:launchMode="singleTop"/>
        <service
            android:name="com.jeil.material.stub.ServiceStub"
            android:exported="false"/>
        <provider
            android:name="com.jeil.material.stub.ProviderStub"
            android:exported="true"
            android:authorities="com.jeil.emarket.provider"/>
    </application>
</manifest>
